body {
  background-color: #CCC;
}
p {
  text-align: center;
  font-family:Cursive;
}
#container {
  display: block;
  margin: 0 auto;
  background-color: white;
}
#score
{
position:absolute;
margin-left:950px;
margin-top:-20px
}
